body {
  background-color: #02733e; /* Poker table green */
  color: #fff;
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.game-container {
  text-align: center;
}

.card {
  /* width: 120px; */
  height: 180px;
  /* background-color: #fff; */
  /* display: inline-block;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-size: cover;
  color: #000; */
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #004530;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #003520;
}

.score-board {
  margin-top: 20px;
}
